<h1>{{title}}</h1>

<h2>Description:</h2>

<p>Give a non-negative integer number and return a value from the labseq sequence.</p>

<form class="form-group">
  <div class="form-group">
    <label for="number">Number: </label>
    <input [(ngModel)]="number" type="number" class="form-control" id="number"  placeholder="Enter a non-negative integer"
      name="number">
  </div>
  <br>
  <button mat-button aria-label="Result" matTooltip="Result" (click)="updateResult()">Update labseq</button>
  <div *ngIf="!error">Labseq result: {{ result }}</div>
  <div> {{ error }}</div>
</form>
